#login-container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


#login-container form {
    width: 400px;

    display: flex;
    flex-direction: column;
}

#login-container .logo {
    width: 300px;

    align-self: center;
}

#login-container form input {
    height: 48px;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 15px;
}

#login-container form input:hover, input:focus {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#login-container form button {
    height: 48px;
    background: #CD3A17;
    border-radius: 50px;
    font-size: 16px;
    padding: 0 20px;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    flex: auto;
}

#login-container form button:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    opacity: 0.93;
}

.secticon-actions {
    display: flex;
    margin-top: 15px;
}

.dRgCXB{
    margin-right: 10px;
    align-self: flex-end;
}

.create-acount {
    margin-right: 30px;
    margin-left: 10px;
    font-size: large;
    color: #e32421;
    cursor: pointer;
    align-self: center;
    padding: 5px;
}
