#nav-container {
    font-size: 18px;
    line-height: 1.77;
    color: #737376;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    position: fixed;
    width: 100%;
}

.nav_primary_placeholder {
    height: 72px;
    position: relative;
}

.nav {
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    line-height: 0.6;
}

.nav__container {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1404px;
}

.brand__logo {
    display: inline-block;
    outline: none;
}

.userInfo {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.avatar {
    max-height: 50px;
    border-radius: 50%;
}

.userInfo span {
    margin: 19px;
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}

.drop-content{
    display: none;
    position: absolute;
    top: 88%;
    z-index: 1000;
    float: left;
    min-width: 154px;
    margin: -10px 0 0;
    font-size: 17px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}

.drop-content a{
    color: rgb(117, 117, 117);
    padding: 16px 24px;
    text-decoration: none;
    display: block;
    max-height: 50px;
    align-items: center
}

.drop-content a{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

  .userInfo:hover .drop-content{
    display: block;
}

.drop-content a:hover{
    color: #262626;
    text-decoration: none;
    background-color: #ffffff;
    cursor: pointer;
}